.articles-and-blogs-mobile-comp-main-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // border: 1px solid #fff;
    transition: ease-in-out 0.8s;
    z-index: 0;

    .articles-and-blog-heading {
        position: absolute;
        z-index: 2;
        color: #fff;
        left: 10%;
        top: 30%;
        font-size: 8vw;
        line-height: 9.5vw;
        font-weight: 400;
        text-shadow: 0.5vw 0.6vw 2px #111;
        text-align: left;

        .span1 {
            color: #C8E404;
            font-weight: 500;
        }

        .span2 {
            font-size: 13.5vw;
            font-weight: 300;

        }

    }

    .scroll-div {
        position: absolute;
        bottom: 3.4vw;
        width: 100%;
        height: 60%;
        // background-color: #777;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background: #E1FF00;
            border-radius: 10vw;
        }


        .slider-div {
            position: absolute;
            left: 0%;
            z-index: 2;
            margin-top: 0%;
            width: 100%;
            height: auto;
            // border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3.4vw;
            overflow: hidden;
            // background-color: #fff;

            .articles-card-div {
                min-width: 80%;
                height: 45vw;
                background: linear-gradient(137deg, #E1FF00 0%, #141A1C 25%, #141A1C 100%);
                border-radius: 2vw;
                overflow: hidden;
                padding: 1px;
                transition: ease-in-out 0.8s;
                // background-color: #fff;

                .inner-div {
                    width: 100%;
                    height: 100%;
                    background-color: #111;
                    border-radius: 2.05vw;
                    // opacity: 0;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // margin-bottom: 5%;

                }
            }
        }
    }

    .bottom-slider-btn-circular-div {
        position: absolute;
        z-index: 2;
        bottom: -105vw;
        margin-left: 0%;
        width: 160vw;
        height: 150vw;
        border-radius: 50%;
        background: linear-gradient(112deg, #000 0%, rgba(167, 167, 167, 0.28) 49.53%, #000 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid #fff;
        display: none;

        .explore-btn {
            border-radius: 2vw;
            font-size: 3.5vw;
            font-weight: 600;
            width: 25%;
            padding: 3% 0;
            margin-top: -110vw;
            background-color: #E1FF00;
            color: #000;


            .icon-span {
                margin: -1.2vw -2vw 0 0;
                font-size: 7.5vw;
                font-weight: 400;

            }
        }


    }
}