
.comp-nine-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    position: relative;
    overflow: hidden;

    @keyframes rotate {
        100% {
            transform: rotate(140deg);

        }
    }

    .after-div {
        position: absolute;
        top: 0.5%;
        left: 0.5%;
        width: 99%;
        height: 99%;
        background-color: #111;
        border-radius: 0.4vw;
        z-index: 1;
        background-image: url(https://rentblob.blob.core.windows.net/pitch/img/Pitch-Catalyst/home-page-imgs/component.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .top-img {
            position: absolute;
            top: 0;
            width: 100%;
            object-fit: contain;
            transition: 1s;
        }

        h4 {
            position: absolute;
            top: 10%;
            font-size: 2.4vw;
            line-height: 2.4vw;
            font-weight: 500;
            text-shadow: 0.3vw 0.3vw 2px #000;
            color: #fff;
            text-align: center;

            span{
                font-size: 2.6vw;
                font-weight: 300;
            }
        }

        p {
            width: 45%;
            text-align: left;
            position: absolute;
            top: 32%;
            font-size: 0.55vw;
            font-weight: 100;
            color: #fff;
        }

    }

    .before-div {
        position: absolute;
        width: 40vw;
        height: 80vh;
        background-image: linear-gradient(20deg, #E1FF01 35.56%, rgba(0, 0, 0, 0) 55.57%);
        border-radius: 0.4vw;
        z-index: 0;
        transition: 0.6s;
    }
}

//-------------------  max-width: 480px  ------------------------
@media only screen and (max-width: 480px) {

    .comp-nine-main-container {
        border-radius: 2vw;
    
        .after-div {
            top: 0.8%;
            left: 0.5%;
            width: 99%;
            height: 98.5%;
            border-radius: 2vw;
    
            h4 {
                top: 10%;
                font-size: 5vw;
                line-height: 5vw;
                font-weight: 500;
                text-align: center;
    
                span{
                    font-size: 4.8vw;
                    font-weight: 300;
                }
            }
    
            p {
                top: 32%;
                font-size: 1.6vw;
                text-align: center;
                font-weight: 100;
            }
    
        }
    
        .before-div {
            width: 80vw;
            height: 90vw;
            background-image: linear-gradient(20deg, #E1FF01 35.56%, rgba(0, 0, 0, 0) 55.57%);
            border-radius: 2vw;
        }
    }
}