.photo-sonic-comp-main-container {
    width: 100%;
    height: 58vw;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // border: 1px solid #fff;
    transition: ease-in-out 0.8s;
    z-index: 0;

    .bg-vector-style {
        position: absolute;
        width: 112%;
        object-fit: contain;
        top: 10%;
        left: -6%;
        z-index: 1;
        transition: ease-in-out 1.8s;

    }

    .bg-vector1 {
        @extend .bg-vector-style;
    }

    .bg-vector2 {
        @extend .bg-vector-style;
    }

    .bg-vector3 {
        @extend .bg-vector-style;
    }

    @keyframes photoSonicCompKF {
        0% {
            transform: scale(0.2) translateY(560%);

        }

        100% {
            transform: scale(1) translateY(0%);

        }

    }

    .photo-sonic-comp-div {
        position: absolute;
        margin-top: 5%;
        width: 60%;
        height: 45%;
        // background-color: #000;
        border-radius: 1.6vw;
        // overflow: hidden;
        padding: 1px;
        transform: scale(0.2) translateY(560%);
        z-index: 2;


        @keyframes animaeBox {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.4;
            }

            100% {
                opacity: 1;
            }

        }

        &::after {
            position: absolute;
            content: '';
            left: -4px;
            top: -4px;
            background: #E1FF00;
            background-size: 400%;
            height: calc(100% + 8px);
            width: calc(100% + 8px);
            z-index: 0;
            opacity: 0.5;
            animation: animaeBox 6s ease-in-out infinite;
            filter: blur(30px);
            border-radius: 1.6vw;

        }

        &::before {
            position: absolute;
            content: '';
            left: -1px;
            top: -1px;
            background: #E1FF00;
            background-size: 400%;
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            z-index: 0;
            border-radius: 1.6vw;

        }

        .photo-sonic-inner-div {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #141A1C;
            border-radius: 1.6vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            z-index: 1;

            .photo-sonic-heading {
                position: absolute;
                color: #E1FF00;
                margin-top: -22%;
                font-size: 2vw;
                font-weight: 500;
                display: flex;
                text-shadow: 0vw 0.3vw 2px #000;
                z-index: 1;

                .span1 {
                    font-weight: 600;
                    padding: 0 10%;
                    border-radius: 50px;
                    border: 1px solid #D9D9D9;
                    background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: none;

                }
            }

            .bg-img {
                position: absolute;
                margin-top: 10%;
                width: 85%;
                object-fit: contain;
                opacity: 0.02;
            }

            .small-circle-logo {
                position: absolute;
                width: 2vw;
                object-fit: contain;
                z-index: 1;
            }

            .circle-img1 {
                top: 5%;
                left: 2%;
            }

            .circle-img2 {
                top: 5%;
                right: 2%;
            }

            .circle-img3 {
                bottom: 5%;
                left: 2%;
            }

            .circle-img4 {
                bottom: 5%;
                right: 2%;
            }

            p {
                position: absolute;
                font-size: 1.4vw;
                font-weight: 300;
                color: #fff;

                .span1 {
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #E1FF00;

                }

                .span2 {
                    text-transform: uppercase;
                    font-weight: 400;

                }
            }

            .hr1 {
                position: absolute;
                margin-top: -8%;
                left: 5%;
                width: 90%;
                height: 1px;
                background: linear-gradient(-90deg, #E1FF00 6.57%, rgba(0, 0, 0, 0.00) 38.64%, rgba(0, 0, 0, 0.00) 64.58%);
            }

            .hr2 {
                position: absolute;
                left: 5%;
                width: 90%;
                margin-bottom: -8%;
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, #E1FF00 6.57%, rgba(0, 0, 0, 0.00) 38.64%, rgba(0, 0, 0, 0.00) 64.58%);
            }

            .circle-victor-1 {
                position: absolute;
                left: -6vw;
                top: -6vw;
                width: 12vw;
                height: 12vw;
                border-radius: 50%;
                background-color: #2B2B2B;
                z-index: 0;
            }

            .circle-victor-2 {
                position: absolute;
                right: -6vw;
                bottom: -6vw;
                width: 12vw;
                height: 12vw;
                border-radius: 50%;
                background-color: #2B2B2B;
                z-index: 0;
            }



        }
    }

}

//-------------------  max-width: 1540px  ------------------------
@media only screen and (max-width: 1540px) {
    .photo-sonic-comp-main-container {
        height: 51.2vw;

    }
}


// //============================================================================================

//-------------------  min-width: 1750px  ------------------------
@media only screen and (min-width: 1750px) {
    .photo-sonic-comp-main-container {
        height: 50.6vw;
        // border: 1px solid #fff;

    }
}


//============================================================================================

//-------------------  max-width: 480px  ------------------------
@media only screen and (max-width: 480px) {
    .photo-sonic-comp-main-container {
        width: 100%;
        height: 100vh;
        position: absolute;

        .bg-vector-style {
            width: 112%;
            top: 40%;
            left: -6%;

        }


        .photo-sonic-comp-div {
            position: absolute;
            margin-top: 15%;
            width: 60%;
            height: 45%;
            border-radius: 2.5vw;
            padding: 1px;
            transform: scale(0.2) translateY(560%);


            &::after {
                position: absolute;
                content: '';
                left: -4px;
                top: -4px;
                background: #E1FF00;
                background-size: 400%;
                height: calc(100% + 8px);
                width: calc(100% + 8px);
                z-index: 0;
                opacity: 0.5;
                animation: animaeBox 6s ease-in-out infinite;
                filter: blur(30px);
                border-radius: 2.5vw;

            }

            &::before {
                position: absolute;
                content: '';
                left: -1px;
                top: -1px;
                background: #E1FF00;
                background-size: 400%;
                height: calc(100% + 2px);
                width: calc(100% + 2px);
                z-index: 0;
                border-radius: 2.5vw;

            }

            .photo-sonic-inner-div {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: #141A1C;
                border-radius: 2.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                z-index: 1;

                .photo-sonic-heading {
                    position: absolute;
                    color: #E1FF00;
                    margin-top: 0%;
                    top: 15%;
                    left: 13%;
                    font-size: 5vw;
                    font-weight: 500;
                    display: flex;
                    text-shadow: 0vw 0.3vw 2px #000;
                    z-index: 1;
                    // display: block;


                    .span1 {
                        font-weight: 600;
                        padding: 0 10%;
                        border-radius: 50px;
                        border: 1px solid #D9D9D9;
                        background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-shadow: none;

                    }
                }

                .bg-img {
                    position: absolute;
                    margin-top: 10%;
                    width: 90%;
                    object-fit: contain;
                    opacity: 0.02;
                }

                .small-circle-logo {
                    position: absolute;
                    width: 4vw;
                    object-fit: contain;
                    z-index: 1;
                }

                .circle-img1 {
                    top: 2%;
                    left: 2.5%;
                }

                .circle-img2 {
                    top: 2%;
                    right: 2.5%;
                }

                .circle-img3 {
                    bottom: 2%;
                    left: 2.5%;
                }

                .circle-img4 {
                    bottom: 2%;
                    right: 2.5%;
                }

                p {
                    width: 80%;
                    position: absolute;
                    font-size: 3.5vw;
                    font-weight: 300;
                    color: #fff;
                    text-align: center;

                    .span1 {
                        text-transform: uppercase;
                        font-weight: 400;
                        color: #E1FF00;

                    }

                    .span2 {
                        text-transform: uppercase;
                        font-weight: 400;

                    }
                }

                .hr1 {
                    position: absolute;
                    margin-top: 0%;
                    top: 35%;
                    left: 5%;
                    width: 80%;
                    height: 1px;
                    background: linear-gradient(-90deg, #E1FF00 6.57%, rgba(0, 0, 0, 0.00) 38.64%, rgba(0, 0, 0, 0.00) 64.58%);
                }

                .hr2 {
                    position: absolute;
                    left: 15%;
                    width: 80%;
                    margin-bottom: 0%;
                    bottom: 35%;
                    height: 1px;
                    background: linear-gradient(90deg, #E1FF00 6.57%, rgba(0, 0, 0, 0.00) 38.64%, rgba(0, 0, 0, 0.00) 64.58%);
                }

                .circle-victor-1 {
                    left: -16vw;
                    top: -16vw;
                    width: 42vw;
                    height: 42vw;
                }

                .circle-victor-2 {
                    right: -16vw;
                    bottom: -16vw;
                    width: 42vw;
                    height: 42vw;
                }



            }
        }

    }

}