.comp-one-main-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.6s;
    opacity: 1;


    .lamp-off-img {
        position: absolute;
        top: 4%;
        left: -15%;
        width: 60%;
        object-fit: contain;
        // opacity: 0;
        opacity: 1;
        transition: 0.2s;

    }

    .lamp-on-img {
        position: absolute;
        top: 4%;
        left: -15%;
        width: 60%;
        object-fit: contain;
        opacity: 0;
        transition: 0.1s;

    }

    .content-div {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 40%;
        height: 50%;
        transition: 0.6s;

        // border: 1px solid #fff;

        p {
            color: #fff;
            font-size: 1.2vw;
            font-weight: 300;
            line-height: 1.6vw;
            margin-bottom: 2%;

        }


        .heading {
            font-size: 3.5vw;
            font-weight: 600;
            color: #fff;
            margin-bottom: 8%;

        }

        .content-para {
            text-shadow: none;
            color: #fff;
            opacity: 0.4;
            font-weight: 400;
            margin-bottom: 10%;

        }

        @keyframes ConicGKF {
            0% {
                background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 80deg);

            }

            40% {
                background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 100deg);

            }

            60% {
                background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 180deg);

            }

            80% {
                background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 280deg);

            }

            100% {
                background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 380deg);

            }

        }

        .redesign-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 180px;
            height: 40px;
            border-radius: 50px;
            overflow: hidden;
            // background-image: conic-gradient(#E1FF00 5deg, transparent 100deg);
            background-image: conic-gradient(from 240deg, #E1FF00 10deg, transparent 50deg);


            .conical-div {
                position: absolute;
                top: 4%;
                left: 1%;
                width: 98%;
                height: 94%;
                // background-color: #0A1B1F;
                background-color: #333;
                border-radius: 50px;
                border-radius: 50px;


            }

            // #E1FF00

            .front-div {
                position: absolute;
                display: flex;
                top: 4%;
                left: 1%;
                justify-content: center;
                align-items: center;
                width: 98%;
                height: 94%;
                color: #E1FF00;
                font-size: 1.2rem;
                font-weight: 400;
                border-radius: 50px;
                background: linear-gradient(172.48deg, #797979 0.62%, rgba(81, 81, 81, 0.483263) 68.05%, rgba(43, 43, 43, 0) 131.12%);
                filter: drop-shadow(0px 2.91339px 2.91339px rgba(0, 0, 0, 0.25));
                z-index: 1;
                cursor: pointer;
                user-select: none;
                z-index: 2;



            }
        }

    }


}