.fifth-comp-main-comp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease-in-out 1s;
    z-index: 0;



}

//-----------------------(max-width: 480px)------------------------------

@media only screen and (max-width: 480px) {
    .fifth-comp-main-comp {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 120%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all ease-in-out 1s;
        z-index: 0;
    
    
    
    }
}