.live-inventory-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-vector-img {
        position: absolute;
        width: 200%;
        object-fit: contain;
        transition: 2.8s ease-in-out;

    }

    .live-inventory-main {
        position: relative;
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: relative;
            width: 130%;
            object-fit: contain;
            margin-top: 5vh;
            transition: 2.8s ease-in-out;
            z-index: 1;

        }

        p {
            position: absolute;
            color: #fff;
            font-size: 2vw;
            font-weight: 500;
            top: 110%;
            letter-spacing: -0.06em;
            line-height: 1.8vw;
            text-align: center;
            // border: 1px solid #fff;
            transition: 1.8s ease-in-out;
            z-index: 1;

            .span1 {
                font-size: 2vw;
                font-weight: 600;
                padding-right: 0.1em;
                color: #E1FF00;
            }

            span {
                font-size: 1.6vw;
                letter-spacing: -0.04em;

            }

            @media only screen and (max-width: 480px) {
                font-size: 4.5vw;
                line-height: 5vw;
                top: 130%;

                span {
                    font-size: 4.5vw;
                }
            }
        }

        .bottom-text {
            top: 110%;
            width: 125%;
            height: 15%;
            left: 90%;
            position: absolute;
            border-radius: 0 100px 100px 0;
            opacity: 0;
            transition: 1.8s ease-in-out;
            transform: translate(-10vw);
            z-index: 0;
            // background-color: #e1ff00;
            background: linear-gradient(205deg, #E1FF00 -5.34%, #000 38.58%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px 1px 0 0;

            .text-span {
                position: relative;
                width: 100%;
                height: 100%;
                font-size: 0.8vw;
                font-weight: 500;
                line-height: 1.2;
                text-align: left;
                color: #969696;
                font-style: italic;
                background-color: #151515;
                border-radius: 0 100px 100px 0;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            @media only screen and (max-width: 480px) {
                top: 180%;
                left: -70%;
                width: 300%;
                height: 30%;
                border-radius: 100px;

                .text-span {
                    font-size: 2vw;
                    padding: 4px;
                    text-align: center;
                    font-weight: 400;
                    border-radius: 100px;
                    color: white;
                }
            }

        }
    }
}