.comp-ten-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    position: relative;
    overflow: hidden;

    @keyframes rotate {
        100% {
            transform: rotate(140deg);

        }
    }

    .after-div {
        position: absolute;
        top: 1.5%;
        left: 0.5%;
        width: 99%;
        height: 97%;
        background-color: #111;
        border-radius: 0.4vw;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2.5% 4%;


        .top-div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3{
                font-size: 1.2vw;
                font-weight: 500;
                color: #fff;
                text-shadow: 0.1vw 0.1vw 2px #000;
                
            }

            .logo-img {
                width: 15%;
                object-fit: contain;
                margin-left: -40%;
            }

            .bell-img {
                width: 8%;
                object-fit: contain;
            }

        }
        p{
            width: 100%;
            font-size: 0.8vw;
            font-weight: 200;
            color: #fff;
            text-align: left;
            opacity: 0.6;
        }

    }

    .before-div {
        position: absolute;
        width: 30vw;
        height: 60vh;
        background-image: linear-gradient(120deg, #E1FF01 35.56%, rgba(0, 0, 0, 0) 50.57%);
        border-radius: 0.4vw;
        z-index: 0;
        transition: 0.6s;
    }
}


//-------------------  max-width: 480px  ------------------------
@media only screen and (max-width: 480px) {
    .comp-ten-main-container {
        border-radius: 2vw;
    
        .after-div {
            top: 1.5%;
            left: 0.5%;
            width: 99%;
            height: 97%;
            border-radius: 2vw;
            padding: 2.5% 4%;
    
    
            .top-div {
                h3{
                    font-size: 3.5vw;                    
                }
    
                .logo-img {
                    width: 16%;
                    margin-left: -32%;
                }
    
            }
            p{
                font-size: 1.8vw;
                font-weight: 200;
                text-align: left;
                padding: 0 10% 0 0;
            }
    
        }
    
        .before-div {
            width: 100vw;
            height: 100vw;
            background-image: linear-gradient(120deg, #E1FF01 35.56%, rgba(0, 0, 0, 0) 50.57%);
            border-radius: 2vw;
        }
    }
}