.blog-sub-comp-main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: #000;
    overflow: hidden;

    .comp-part-one {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        z-index: 1;
        transition: ease-in-out 0.5s;
        // padding-top: 15%;
        // background-color: #e1ff01;

        .blog-contants-div {
            width: 40%;
            min-height: 5vw;
            margin: 11% 0;
            // background-color: #000;
            position: relative;
            cursor: pointer;

            .blog-type-para {
                position: absolute;
                width: 80%;
                text-align: center;
                top: 110%;
                left: 10%;
                color: #000;
                // background-color: #888;
                font-size: 0.8vw;
                font-weight: 600;
                text-transform: lowercase;

                &::first-letter {
                    text-transform: uppercase;
                }

                .more-span {
                    // font-size: 0.6vw;
                    color: blue;
                    text-transform: capitalize;
                    text-decoration: none;

                }

            }

            .container-div {
                position: relative;
                width: 100%;
                height: 100%;
                // margin: 8% 0;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                overflow: hidden;
                border-radius: 500px;
                box-shadow: 0.2vw .2vw 3px gray;
                // border: 1px solid black;
                cursor: pointer;

                .link-to-div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: none;
                    z-index: 2;
                }

                .bg-img-div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    text-decoration: none;

                    .upper-layer {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        // background-color: #fff;
                        z-index: 1;
                    }

                    .bg-img {
                        opacity: 1;
                        object-fit: cover;

                    }


                }

                .left-img {
                    position: relative;
                    z-index: 1;
                    width: 4vw;
                    height: 4vw;
                    border-radius: 50%;
                    background-color: #fff;
                    object-fit: contain;
                    z-index: 1;

                }

                .rigth-contant {
                    position: relative;
                    z-index: 1;
                    width: 75%;
                    height: 75%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2vw;
                    font-weight: 500;
                    color: #fff;
                    text-shadow: 0.1vw 0.1vw 2px #000;
                    padding: 0 10%;
                    // background-color: #333;


                }

            }
        }
    }

    .comp-part-two {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15%;
        // background-color: #000;
        opacity: 0;
        z-index: 0;
        transition: ease-in-out 0.5s;
        border: 1.5vw solid #fff;
        overflow: auto;
        // &::-webkit-scrollbar {
        //     display: none;
        // }

        // -ms-overflow-style: none;
        // /* IE and Edge */
        // scrollbar-width: none;
        /* Firefox */


        &::-webkit-scrollbar {
            width: 0.4vw;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
            border-radius: 10px;
            background: rgba(128, 128, 128, 0.1);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #e1ff01;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #999;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #000;
        }


        .card-comp-div {
            width: 18vw;
            height: 12vw;
            overflow: hidden;


            &::-webkit-scrollbar {
                display: none !important;
            }

            -ms-overflow-style: none !important;
            /* IE and Edge */
            scrollbar-width: none !important;
            /* Firefox */

        }

    }

}

//============================================================================================

//-------------------  max-width: 480px  ------------------------
@media only screen and (max-width: 480px) {
    .blog-sub-comp-main-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: #000;
        overflow: hidden;

        .comp-part-one {

            .blog-contants-div {
                width: 48%;
                min-height: 12vw;

                .blog-type-para {
                    width: 85%;
                    top: 120%;
                    left: 6%;
                    font-size: 2vw;
                    font-weight: 600;

                }

                .container-div {
                    .left-img {
                        width: 9vw;
                        height: 9vw;
                        margin-left: 1.5vw;

                    }

                    .bg-img-div {
                        .bg-img {
                            width: 100%;

                        }


                    }

                    .rigth-contant {
                        font-size: 2.5vw;
                    }

                }
            }
        }

        .comp-part-two {
            position: absolute;
            width: 100%;
            height: 90%;
            top: 0;
            gap: 4%;
            padding-top: 5%;
            overflow-y: scroll;
            // background-color: orange;

            &::-webkit-scrollbar {
                width: 1vw;
            }


            .card-comp-div {
                width: 40vw;
                min-height: 40vw;
                overflow: hidden;
                // border: 1px solid black;
            }

        }

    }
}